<!-- 聯絡我們 -->
<div class="container-fluid py-36 py-md-144 contactus bg-brand-05">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3>聯絡我們</h3>
                <div class="d-flex align-items-center mt-20">
                    <span class="material-symbols-outlined text-white fs-16">
                        circle
                    </span>
                    <div class="white-bar ms-8"></div>
                </div>
                <div class="mt-48 fw-bold ">讓科技成為您的最佳夥伴</div>
                <div class="mt-4 fw-bold ">立即體驗神奇功能並享限時優惠！</div>
            </div>
            <div class="col-md-7">
                <span class="material-symbols-outlined fs-80">
                    emergency
                </span>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control bg-white text-dark " id="email" placeholder="Email">
                    <label for="email" class="text-brand-03   fw-bold ">Email</label>
                </div>
                <div class="form-floating mt-16">
                    <textarea class="form-control bg-white text-dark " placeholder="Leave a comment here" id="comments"
                        style="height: 100px"></textarea>
                    <label for="comments" class="text-brand-03 fw-bold ">Comments</label>
                </div>

                <div class="col-md-6 ms-auto mt-16">

                    <button
                        class="w-100 d-flex align-items-center  justify-content-center text-white bg-brand-03 py-8  btn-contact"
                        type="submit">
                        <span class="material-symbols-outlined me-1 align-self-center ">point_scan</span><span>送出</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 四格人物 -->
<ul class="container-fluid  d-flex flex-wrap text-white list-unstyled px-0 ">
    <li class="col-6 col-lg-3 ai-intro position-relative">
        <img class="img-fluid " src="/assets/images/diane_vertical.png" alt="diane_vertical">
        <div class="ai-intro-card position-absolute d-flex flex-column start-0 end-0 top-0 bottom-0 ">
            <span class="fs-400 ff-saira text-center">1</span>
            <p class="ff-main text-center fs-32 mt-12 mt-md-20 mb-auto">Diane</p>
            <p class="fw-bold ms-8 ms-md-40">知識型</p>
            <div class="d-flex justify-content-between mx-md-40 mb-56">
                <p class="w-100 w-md-50 mb-0 text ">學術領導/知識分享/智能問答</p>
                <img src="/assets/images/line_end_arrow_notch-sm.png" width="140" alt="" class="d-none d-md-block ">
            </div>
            <a href="#" class="w-50 stretched-link "></a>
        </div>
    </li>
    <li class="col-6 col-lg-3 ai-intro position-relative">
        <img class="img-fluid " src="/assets/images/felix_vertical.png" alt="felix_vertical">
        <div class="ai-intro-card position-absolute d-flex flex-column start-0 end-0 top-0 bottom-0 ">
            <span class="fs-400 ff-saira text-center">2</span>
            <p class="ff-main text-center fs-32 mt-12 mt-md-20 mb-auto">Felix</p>
            <p class="fw-bold ms-8 ms-md-40">娛樂型</p>
            <div class="d-flex justify-content-between mx-md-40 mb-56">
                <p class="w-100 w-md-50 mb-0 ">音樂播放/語音互動/遊戲陪伴</p>
                <div><img src="/assets/images/line_end_arrow_notch-sm.png" width="140" alt=""
                        class="d-none d-md-block "></div>
            </div>
            <a href="#" class="w-50 stretched-link "></a>
        </div>
    </li>
    <li class="col-6 col-lg-3 ai-intro position-relative">
        <img class="img-fluid " src="/assets/images/karina_verticalgle.png" alt="Karina_vertical">
        <div class="ai-intro-card position-absolute d-flex flex-column start-0 end-0 top-0 bottom-0 ">
            <span class="fs-400 ff-saira text-center">3</span>
            <p class="ff-main text-center fs-32 mt-12 mt-md-20 mb-auto">Karina</p>
            <p class="fw-bold ms-8 ms-md-40">生活型</p>
            <div class="d-flex justify-content-between mx-md-40 mb-56">
                <p class="w-100 w-md-50 mb-0 ">健康提醒/日程安排/智能家居</p>
                <div><img src="/assets/images/line_end_arrow_notch-sm.png" width="140" alt=""
                        class="d-none d-md-block "></div>
            </div>
            <a href="#" class="w-50 stretched-link "></a>
        </div>
    </li>
    <li class="col-6 col-lg-3 ai-intro position-relative">
        <img class="img-fluid " src="/assets/images/vito_vertical.png" alt="vito_vertical">
        <div class="ai-intro-card position-absolute d-flex flex-column start-0 end-0 top-0 bottom-0 ">
            <span class="fs-400 ff-saira text-center">4</span>
            <p class="ff-main text-center fs-32 mt-12 mt-md-20 mb-auto">Vito</p>
            <p class="fw-bold ms-8 ms-md-40">情感型</p>
            <div class="d-flex justify-content-between mx-md-40 mb-56">
                <p class="w-100 w-md-50 mb-0 ">情感識別/心情分析/心靈支持</p>
                <div><img src="/assets/images/line_end_arrow_notch-sm.png" width="140" alt=""
                        class="d-none d-md-block "></div>
            </div>
            <a href="#" class="w-50 stretched-link "></a>
        </div>
    </li>
</ul>