<footer class="container-fluid bg-white py-12 py-md-52">
    <footer
        class="container d-flex flex-column flex-md-row justify-content-md-between align-items-md-center text-black  ">
        <div>
            <h4 class="fs-32 ff-main">ALPHABOX+</h4>
            <p class="fw-bold">Copyright © 2023 Hexschool.</p>
        </div>
        <span class="material-symbols-outlined fs-80">
            emergency
        </span>
        <ul class="d-flex flex-column flex-md-row list-unstyled gap-1 gap-md-4 mb-0 fw-bold ">
            <li>關於我們</li>
            <li>產品資訊</li>
            <li>常見問題</li>
            <li>隱私政策</li>
        </ul>
    </footer>
</footer>