<nav class="navbar navbar-dark bg-brand-01 navbar-expand-lg position-fixed  z-index-100 w-100 ">
    <div class="container d-flex justify-content-between align-items-center px-0">
        <a class="ff-main" href="index.html">
            <h1 class="text-white">ALPHABOX+</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarcollapse"
            aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarcollapse">
            <ul class="navbar-nav d-md-flex justify-content-center text-center gap-40 flex-md-grow-1">
                <li><a class="fs-16 fw-bolder link-light link-hover" href="#">產品</a></li>
                <li><a class="fs-16 fw-bolder link-light link-hover" href="#">關於我們</a></li>
                <li><a class="fs-16 fw-bolder link-light link-hover" href="informations.html">最新消息</a></li>
                <li><a class="fs-16 fw-bolder link-light link-hover" href="#">FAQ</a></li>
                <li><a class="fs-16 fw-bolder link-light link-hover" href="#">聯絡我們</a></li>
            </ul>
            <ul class="navbar-nav d-md-flex gap-4 mb-0 list-unstyled align-items-center mt-40 mt-lg-0">
                <li><a class="d-block fs-16 link-light link-hover  " href="">註冊</a></li>
                <li><a class="d-block fs-16 link-light link-hover" href="">登入</a></li>
                <li><button class="d-flex align-items-center py-8 px-16 border rounded-1  "><span
                            class="material-symbols-outlined me-1 ">
                            point_scan
                        </span>訂閱</button></li>
            </ul>
        </div>
    </div>
</nav>