<div class="container-fluid bg-news">
    <div class="container pt-32 pt-md-160">
        <h3 class="fs-48 fw-bold spacing-48">最新消息</h3>
        <hr class="text-white mt-40">
        <div class="my-40">
            <img src="/assets/images/emergency.png" alt=""><span class=" fw-bold spacing-16 ms-16">2023.06.30</span>
            <p class="mt-8 fs-20 spacing-20">產品升級公告</p>
            <div class="d-flex justify-content-between mt-12">
                <div class="fw-bold ">榮幸地宣布，ALPHABOX+
                    已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。<br>歡迎您了解本次升級帶來的更為卓越的性能！</div>
                <div><img src="/assets/images/line_end_arrow_notch.png" alt=""></div>
            </div>
        </div>

        <div class="row row-cols-md-2 border-bottom-md  border-top-md">
            <div class="col  border-end-md py-32 py-md-80">
                <img src="/assets/images/emergency.png" alt=""><span class=" fw-bold spacing-16 ms-16">2023.06.30</span>
                <p class="mt-8 fs-20 spacing-20">限時優惠活動</p>
                <div class="fw-bold mt-12">為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，<br>皆可享受九折優惠。機會難得，請勿錯過此良機！</div>
                <img class="mt-12" src="/assets/images/line_end_arrow_notch.png" alt="">
            </div>
            <div class="col py-32 py-md-80 ps-16">
                <img src="/assets/images/emergency.png" alt=""><span class="fw-bold spacing-16 ms-16">2023.04.18</span>
                <p class="mt-8 fs-20 spacing-20">新功能上線</p>
                <div class="fw-bold mt-12">為使您的 ALPHABOX+
                    更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家<br>居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。</div>
                <img class="mt-12" src="/assets/images/line_end_arrow_notch.png" alt="">
            </div>
        </div>

        <div class="position-relative text-center mt-76 news">
            <img src="/assets/images/Linked Path Group.png" alt="logo" height="132" class="alphaboxCircle">
            <a href="#" class="position-absolute start-50 top-50 translate-middle ">看更多</a>
        </div>

        <p class="mt-96 text-center text-md-end mb-40 fw-bold ">為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</p>

    </div>
</div>